p{

    color: blue;
background-color: pink;
text-align: center;
font-size: 50px;
    
}
.AG {
    color: green;
background-color: aqua;
    
}
#AG1 {
color: green;
background-color: aqua;
    font-size: 40px;
    text-align: center;
height: 300px;
width: 300px;
padding: 5px;
border: 10px solid yellow;
align-content: center;

}

.box-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  

}

.box1 {
  width: 80px;
  height: 80px;
  background-color: red;
}

.box2 {
  width: 100px;
  height: 100px;
  background-color: green;
}

.box3 {
  width: 120px;
  height: 120px;
  background-color: blue;
}

.box4 {
  width: 140px;
  height: 140px;
  background-color: orange;
}