.bdr{
    border: 2px solid black;
    padding: 20px;
    margin: 40px auto;
    width: 800px;
}
.box {
    display: inline-block;
    height: 440px;
    width: 200px;
    text-align: center;
    margin: 20px;

}
.box1{
   background-color: yellow;
}
.box2{
    background-color: palevioletred;
}
.box3{
    background-color: lightblue;
}