body {
    margin: 20px;
}

.outer-box {
    border: 3px solid black;
    padding: 20px;
    background: white;
}

h1 {
    font-size: 3em;
    font-family: Times New Roman, Times, serif;
    font-weight: bold;
    margin-top: 0;
}

.blue-box {
    background: blue;
    padding: 40px;
    margin: 30px 0;
}

.yellow-box {
    background: yellow;
    text-align: center;
    padding: 50px 0;
    font-size: 2em;
    font-family: Times New Roman, Times, serif;
    border: 2px solid #000;
}